
{{>partials/header}}


{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2> {{title}} </h2>
{{/banner}}


<div class="container list">
    <h2> Página não encontrada </h2>
</div>



{{>partials/footer}}